.task {
  display: flex;
  gap: 2rem;
  width: 50%;
  background-color: rgba(63, 204, 209, 0.815);
  padding: 0.75rem;
}

.task__id {
  width: 5%;
  display: flex;
  justify-content: center;
}

.task__desc {
  width: 70%;
}

.task__time {
  width: 15%;
}

.task__btn {
  width: 10%;
  display: flex;
  justify-content: center;
}
