.task {
  display: flex;
  gap: 1rem;
  width: 60%;
  background-image: linear-gradient(to right, rgba(167, 215, 255, 0.8), rgba(160, 241, 255, 0.8));
  padding: 0.75rem;
  margin: 0.25rem auto;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(76, 0, 130, 0.486);
}

.task__id {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__desc {
  width: 70%;
  white-space: pre-line;
}

.task__desc__title {
  text-decoration: underline;
  font-weight: bold;
}

.task__time {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__btn {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__btn button {
  width: 40%;
  height: 70%;
  padding: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.25s background-color;
}

.task__btn__check {
  background-image: url("/public/check-mark.png");
  background-color: rgb(136, 241, 127, 0.5);
}

.task__btn__cross {
  background-image: url("/public/cross-mark.png");
  background-color: rgba(221, 102, 102, 0.849);
}

.task__btn__check:hover {
  background-image: url("/public/check-mark.png");
  background-color: rgb(136, 241, 127);
}

.task__btn__cross:hover {
  background-image: url("/public/cross-mark.png");
  background-color: rgba(228, 152, 152, 0.849);
}
