.add {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.add input {
  padding: 0.25rem 0.75rem;
}

.add__title {
  width: 15%;
  font-size: 1.5rem;
  height: 3.25rem;
}

.add__desc {
  width: 50%;
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  resize: none;
  height: 3.5rem;
  display: flex;
}

.add__btn {
  font-size: 1.5rem;
  width: 1.75rem;
  height: 1.75rem;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.25s background-color;
  background-image: url("/public/plus.png");
}

.add__time {
  width: 15%;
  height: 2.5rem;
}

.add__title,
.add__desc,
.add__time {
  background-color: rgba(204, 255, 199, 0.842);
  height: 4.5rem;
  outline: none;
  color: rgb(21, 0, 36);
  transition: 0.25s background-color;
}

.add__title:hover,
.add__desc:hover,
.add__time:hover,
.add__title:focus,
.add__desc:focus,
.add__time:focus {
  background-color: rgba(168, 219, 164, 0.842);
  color: rgb(4, 4, 49);
}
