.add {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.add input {
  /* width: 100%; */
  padding: 0.25rem 0.75rem;
}

.add__title {
  width: 15%;
  font-size: 1.5rem;
  height: 3.25rem;
}
.add__desc {
  width: 50%;
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  resize: none;
  height: 3.5rem;
  display: flex;
  /* align-content: center; */
}

.add__btn {
  /* width: %; */
  font-size: 1.5rem;
  width: 1.75rem;
  height: 2.5rem;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.25s background-color;
  background-image: url("/public/plus.png");
}

.add__time {
  width: 15%;
  height: 2.5rem;
}
