<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <div>
      <span>Search:</span>
      <input />
    </div>
    <div id="list">
      <div id="item-1">
        <span>This is task 1</span>
        <button>✓</button>
        <button>X</button>
      </div>
      <div id="item-2">
        <span>This is task 2</span>
        <button>✓</button>
        <button>X</button>
      </div>
      <div id="item-3">
        <span>This is task 3</span>
        <button>✓</button>
        <button>X</button>
      </div>
    </div>
    <script>
      document.addEventListener("click", (e) => {
        if (e.target.tagName === "BUTTON" && e.target.innerText === "X") {
          let list = document.getElementById("list");
          let item = document.getElementById(e.target.parentElement.id);
          list.removeChild(item);
        }
      });
      //   const deleteItem = () => {
      //     // let list = document.getElementById("list");
      //     // let item = document.getElementById("item-3");
      //     // let garbage = list.removeChild(item);

      //     // console.log(list);
      //     console.log(this.target);
      //   };
    </script>
  </body>
</html>
